.banner{
    width: 100%;       
    height: 100vh;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSB9HYs0Jl1AgbUD4qh1LZSmAb4VJuoosd-eK0em16B8s8zZCFXY4QCK6C0T9x99PvDygk&usqp=CAU");
    
}


